
//@import "reset";
@import url('https://fonts.googleapis.com/css?family=Libre+Franklin:200&display=swap');

$prime-color: #F2F2F2;
$body-font: 'Libre Franklin', sans-serif;


body{
background-color: $prime-color;
color: #000;
font-family: $body-font;


}