@import "reset";
@import url('https://fonts.googleapis.com/css?family=Libre+Franklin:200&display=swap');

$prime-color: #f0f0f0;
$body-font: 'Libre Franklin',
sans-serif;


body {
    background-color: $prime-color;
    color: #000;



}

.hero {
    height: 100vh;
    display: flex;
    justify-content: center;

}

.hero h1 {
    font-family: $body-font;
    font-size: 64px;
}

section .headline {
    margin: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1200px;
}