@import "reset";
@import url('https://fonts.googleapis.com/css?family=Libre+Franklin:200&display=swap');

$prime-color: #fff;
$body-font: 'Libre Franklin',
sans-serif;


body {
    background-color: $prime-color;
    color: #000;



}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 70px;
    background-color: white;
    z-index: 1;
    position: sticky;
    position: -webkit-sticky;
    top: 0;


}

.header img {
    width: 100px;

}

.header p {
    width: 50%;
    font-size: 24px;

}

.hero {
    height: 100vh;
    display: flex;
    justify-content: center;

}

h1,
p,
h2,
h3 {
    font-family: $body-font;
}

h3 {}

.hero h1 {

    font-size: 64px;
}

.text p {
    font-size: 42px;


}

.text h2 {
    margin-bottom: 35px;
    font-size: 24px;


}

section .headline {
    padding: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1200px;
}

.parts {
    display: flex;
    flex-direction: row;



}

.parts:nth-child(even) {
    flex-direction: row-reverse;

}

.text,
.container {

    width: 50%;
}

section .text {
    padding: 200px 70px;

}

.container {
    display: flex;
    justify-content: center;
    height: 150vh;
    padding-top: 250px;


}

section .text {
    height: 100vh;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    
    position: sticky;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

}
section .text h2, section .text p {
color: #fff;
}
section .y {
    background-image: url(https://media.giphy.com/media/JIX9t2j0ZTN9S/source.gif);

}

.b {

    background-image: url(https://media.giphy.com/media/l41lI3C51XtdvxUxq/source.gif);
}

.w {
    background-image: url(https://media.giphy.com/media/dE3dOmeBubbPi/source.gif);

}

section .container .services h3 {

    text-align: center;
    margin-bottom: 80px;
    font-size: 47px;
}

form{
    margin-bottom: 50px;
    transition: all 4s ease-in-out;


}

.form-control {
    width: 600px;
    background: 0 0;
    border: none;
    outline: 0;
    border-bottom: 1px solid gray;
    color: gray;
    font-size: 18px;
   
    margin-bottom: 36px;
    font-family: $body-font;
    

}
.contact-form{
position: relative;

}
.contact-heading{
   
    font-size: 44px;
    margin-top: 80px;
    margin-bottom: 40px;
}

input {
    height: 45px;
}

form .submit{
    border-color: #fff;
    color: #000;
    font-size: 18px;

    width: auto;
    font-weight: 600;

}
.business {

    height: 35px;
}
.contact {
display: flex;
justify-content: center;

}
footer {
    height: 45vh;
    background-color: #000;

}
@media (max-width: 800px) {
    .parts {
        display: block;

    }

    section .text {
        position: inherit;
        padding: 40px;
        height: 600px;

    }

    .hero h1 {

        font-size: 42px;
    }

    .text p {
        font-size: 48px;


    }

    .text,
    .container {

        width: 100%;
        height: auto;
        padding-top: 100px;
    }

    section .text {
        padding: 100px 30px;


    }

    section .headline {
        padding: 30px;

    }
}