@import "reset";
@import url('https://fonts.googleapis.com/css?family=Libre+Franklin:200,400,700&display=swap');

$prime-color: #fff;
$body-font: 'Libre Franklin',
sans-serif;


body {
    background-color: $prime-color;
    color: #000;



}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 70px;
    background-color: white;
    z-index: 3;
    position: sticky;
    position: -webkit-sticky;
    top: 0;


}

.header img {
    width: 100px;

}

.header p {
    width: 50%;
    font-size: 24px;
    font-weight: 300;

}

.hero {
    height: 100vh;
    display: flex;
    justify-content: center;

}

.color-1 {
    background-color: #FC766AFF;

}

.color-2 {
    background-color: #F9A12EFF;

}

.color-3 {
    background-color: #69D2E7;


}

h1,
p,
h2,
h3 {
    font-family: $body-font;
}

.hero h1 {

    font-size: 54px;
    font-weight: 300;
}

.text p {
    font-size: 42px;
    font-weight: 300;


}

.text h2 {
    margin-bottom: 35px;
    font-size: 24px;
    font-weight: 300;


}

section .headline {
    padding: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1200px;
}

.parts {
    display: flex;
    flex-direction: row;



}

.parts:nth-child(even) {
    flex-direction: row-reverse;

}

.text,
.container {

    width: 50%;
}

section .text {
    padding: 200px 70px;

}

.container {
    display: flex;
    justify-content: center;
    height: 130vh;
    padding-top: 250px;
    position: relative;
    overflow: hidden;
    min-height: 1050px;


}

.circles {
    position: absolute;
    height: 52px;
    width: 52px;
    background-color: beige;
    border-radius: 100%;
}

.squiggle {
    width: 203px;
    height: 63px;
    background-image: url("img/squiggle.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
}
.star {
    width: 203px;
    height: 63px;
    background-image: url("img/star.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
}


.shapes {
    position: absolute;
    width: 100%;
    height: inherit;

}

.services {
    z-index: 2;
    font-weight: 300;

}

.circles:nth-of-type(1) {
    left: 5%;
    top: 20%;
}

.circles:nth-of-type(2) {
    left: 20%;
    top: 5%;
}

.circles:nth-of-type(3) {
    left: 20%;
    top: 50%;
}

.circles:nth-of-type(4) {
    left: 4%;
    top: 80%;
}

.circles:nth-of-type(5) {
    left: 70%;
    top: 5%;
}

.circles:nth-of-type(6) {
    left: 75%;
    top: 55%;
}

.circles:nth-of-type(7) {
    left: 85%;
    top: 30%;
}

.circles:nth-of-type(8) {
    left: 80%;
    top: 80%;
}

.squiggle:nth-of-type(1) {
    left: 5%;
    top: 2%;
}

.squiggle:nth-of-type(2) {
    left: 8%;
    top: 25%;
}

.squiggle:nth-of-type(3) {
    left: 3%;
    top: 60%;
}

.squiggle:nth-of-type(4) {
    left: 10%;
    top: 90%;
}

.squiggle:nth-of-type(5) {
    right: 10%;
    top: 7%;
}

.squiggle:nth-of-type(6) {
    right: 2%;
    top: 35%;
}

.squiggle:nth-of-type(7) {
    right: 9%;
    top: 60%;
}

.squiggle:nth-of-type(8) {
    right: 0%;
    bottom: 5%;
}

section .text {
    height: 100vh;
    position: sticky;
    position: -webkit-sticky;
    top: 0;

    position: sticky;
    background-repeat: no-repeat;
    background-position: center center;

    background-size: cover;

}

section .text h2,
section .text p {
    color: #fff;
}

section .y {
    background-image: url(https://media.giphy.com/media/JIX9t2j0ZTN9S/source.gif);

}

.b {

    background-image: url(https://media.giphy.com/media/l41lI3C51XtdvxUxq/source.gif);
}

.w {
    background-image: url(https://media.giphy.com/media/69mUSKBujnpgmxcqlg/source.gif);

}

section .container .services h3 {

    text-align: center;
    margin-bottom: 80px;
    font-size: 47px;
}

form {
    margin-bottom: 50px;



}

.shape,
.lineup li {
    opacity: 0;
    transition: opacity 0.5s ease;
}

.in-viewport .shape,
.in-viewport .lineup li {
    opacity: 1;
}


.form-control {
    width: 600px;
    background: 0 0;
    border: none;
    outline: 0;
    border-bottom: 1px solid gray;
    color: gray;
    font-size: 18px;

    margin-bottom: 36px;
    font-family: $body-font;


}

.contact-form {
    position: relative;

}

.contact-heading {

    font-size: 44px;
    margin-top: 80px;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
}

input {
    height: 45px;
}

form .submit {
    border-color: #fff;
    color: #000;
    font-size: 18px;

    width: auto;
    font-weight: 500;

}

.business {

    height: 35px;
}

.contact {
    display: flex;
    justify-content: center;

}

footer {

    background-color: #000;
    padding-top: 70px;
    padding-bottom: 70px;

}

footer p,
footer ul {

    font-weight: 300;
}

.contact-heading h3 {
    margin-right: 20px;

}

.hand {
    animation: pulse 3s infinite;


}

@keyframes pulse {
    0% {
        transform: rotate(0deg);

    }

    50% {
        transform: rotate(20deg);

    }

    100% {
        transform: rotate(0deg);

    }


}



form .submit:hover {
    cursor: pointer;
    color: #F9A12EFF;

}

.footer-content {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 0 70px;
}

.footer-content ul li {

    color: #fff;
    font-family: $body-font;
    margin-bottom: 5px;
}

.footer-content p {
    color: #fff;
    font-family: $body-font;
    margin-bottom: 20px;

}

.footer-content ul li a {
    text-decoration: none;
    color: #fff;

}

.footer-content ul li a:hover {
    color: #F9A12EFF;

}

.address p {
    margin-bottom: 5px;

}

@media (max-width: 800px) {
    .parts {
        display: block;

    }

    section .text {
        position: inherit;
        padding: 40px;
        height: 600px;

    }

    .hero h1 {

        font-size: 42px;
    }

    .text p {
        font-size: 48px;


    }

    .container,
    .text {
        width: 100%;
        padding-top: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;

    }

    section .text {
        padding: 100px 30px;


    }

    section .headline {
        padding: 30px;

    }
}

@media(max-width:715px) {

    .header {

        padding: 25px 40px;
    }

    .header p {

        font-size: 18px;

    }

    .header img {
        width: 50px;


    }

    .footer-content {
        margin: 0 40px;

    }

}

@media(max-width:700px) {
    .header {

        padding: 25px 15px;
    }

    .footer-content {
        margin: 0 15px;
        flex-direction: column;
        align-items: center;
        text-align: center;

    }

    .social-media {
        margin-top: 20px;

    }

    .text p {
        font-size: 32px;


    }

    section .text {

        padding: 100px 15px;
    }

    .hand img {
        width: 25px;


    }

    .form-control {
        width: 300px;

    }

    form {

        display: flex;
        flex-direction: column;

        align-items: center;
    }

    .contact-heading {
        font-size: 32px;
    }
}


@media(max-width:420px) {
    section .headline {
        padding: 15px;
    }

    .header p {

        font-size: 12px;

    }

    .hero {
        height: 100vh !important;
    }

    .hero h1 {
        font-size: 22px;
    }

    .text p {
        font-size: 24px !important;
    }

    .text h2 {
        margin-bottom: 15px;
        font-size: 14px;
    }

    .squiggle {
        width: 110px;
    }

    section .container .services h3 {
        text-align: center;
        margin-bottom: 80px;
        font-size: 22px;
    }

    .hand img {
        width: 45px;
        margin-bottom: 15px;
    }

    .contact-heading h3 {
        margin: 20px;
    }

    .contact-heading {
        font-size: 28px;
        display: flex;
        flex-direction: column-reverse;
    }

    .form-control {
        width: 300px;
        text-align: center;
    }

    .business {
        height: 45px;

    }

    .form-control {
        width: 600px;
        background: #f5f5f5;
        border-radius: 26px;
        border: none;
        outline: 0;
        /* border-bottom: 1px solid gray; */
        color: gray;
        font-size: 18px;
        margin-bottom: 18px;
        font-family: "Libre Franklin", sans-serif;
    }

    .form-control {
        width: 300px;
        text-align: center;
    }

    input,
    select,
    textarea {
        font: inherit;
        line-height: 2.3;
    }

    .submit {
        background: 0;

    }
}

@media (max-height: 600px) {
    .hero {

        height: auto;
    }

    .text p {
        font-size: 32px;


    }

}